@keyframes animate {
   0% {
      transform: translateY(0) rotate(0deg);
      opacity: 1;
      border-radius: 0;
   }

   100% {
      transform: translateY(-1000px) rotate(720deg);
      opacity: 0;
   }
}

@keyframes fromLeftToRight {
   0% {
      opacity: 0;
      transform: translateX(-300px);
   }

   50% {
      opacity: 0;
      transform: translateX(-150px);
   }

   100% {
      opacity: 1;
      transform: translateX(0);
   }
}

@keyframes fromRightToLeft {
   0% {
      opacity: 0;
      transform: translateX(-300px);
   }

   50% {
      opacity: 0;
      transform: translateX(150px);
   }

   100% {
      opacity: 1;
      transform: translateX(0);
   }
}

@keyframes mymovees {
   from {
      opacity: 0;
   }

   to {
      opacity: 1;
   }
}

@keyframes closeLetter {
   50% {
      transform: rotateX(-90deg);
   }

   100% {
      transform: rotateX(-180deg);
   }
}

@keyframes fadeOutText {
   49% {
      opacity: 1;
   }

   50% {
      opacity: 0;
   }

   100% {
      opacity: 0;
   }
}

@keyframes fadeInEnvelope {
   0% {
      opacity: 0;
   }

   50% {
      opacity: 0;
   }

   100% {
      opacity: 1;
   }
}

@keyframes scaleLetter {
   66% {
      transform: translateY(-8rem) scale(0.5, 0.5);
   }

   75% {
      transform: translateY(-8rem) scale(0.5, 0.5);
   }

   90% {
      transform: translateY(-8rem) scale(0.3, 0.5);
   }

   97% {
      transform: translateY(-8rem) scale(0.33, 0.5);
   }

   100% {
      transform: translateY(-8rem) scale(0.3, 0.5);
   }
}

@keyframes fadeInEffect {
   0% {
      opacity: 0;
   }

   25% {
      opacity: 0;
   }

   50% {
      opacity: 0.5;
   }

   75% {
      opacity: 0.75;
   }

   100% {
      opacity: 1;
   }
}

@keyframes fadeInFromTop {
   0% {
      top: -450px;
      opacity: 0;
   }

   25% {
      opacity: 0.25;
   }

   50% {
      opacity: 0.55;
   }
}

@keyframes fadeInCart {
   0% {
      opacity: 0;
   }

   25% {
      opacity: 0.25;
   }

   50% {
      opacity: 0.55;
   }
}

@keyframes change-color {
   0% {
      color: #414747;
   }

   50% {
      color: #414747;
   }
}

@keyframes leftToRight {
   0% {
      opacity: 0;
      transform: translateX(-200px);
   }

   100% {
      opacity: 1;
      transform: translateX(0);
   }
}

@keyframes fadeInEffect {
   0% {
      opacity: 0;
      transform: translateX(0);
   }

   50% {
      opacity: 0;
      transform: translateX(0);
   }

   80% {
      opacity: 0;
      transform: translateX(0);
   }

   90% {
      opacity: 0.5;
      transform: translateX(0);
   }

   100% {
      opacity: 1;
      transform: translateX(0);
   }
}

@keyframes heartFadeInOut {
   0% {
      transform: scale(1);
   }

   25% {
      transform: scale(.97);
   }

   35% {
      transform: scale(.9);
   }

   45% {
      transform: scale(1.1);
   }

   55% {
      transform: scale(.9);
   }

   65% {
      transform: scale(1.1);
   }

   75% {
      transform: scale(1.03);
   }

   100% {
      transform: scale(1);
   }
}

@keyframes fadeFacebook {
   0% {
      transform: scale(1);
      background-color: #3B5998;
   }

   25% {
      transform: scale(.97);
      background-color: #3B5998;
   }

   35% {
      transform: scale(.9);
      background-color: #3B5998;
   }

   45% {
      transform: scale(1.1);
      background-color: #3B5998;
   }

   55% {
      transform: scale(.9);
      background-color: #3B5998;
   }

   65% {
      transform: scale(1.1);
   }

   75% {
      transform: scale(1.03);
   }

   100% {
      transform: scale(1);
   }
}

@keyframes fadeGithub {
   0% {
      transform: scale(1);
      background-color: #6e5494;
   }

   25% {
      transform: scale(.97);
      background-color: #6e5494;
   }

   35% {
      transform: scale(.9);
      background-color: #6e5494;
   }

   45% {
      transform: scale(1.1);
      background-color: #6e5494;
   }

   55% {
      transform: scale(.9);
      background-color: #6e5494;
   }

   65% {
      transform: scale(1.1);
   }

   75% {
      transform: scale(1.03);
   }

   100% {
      transform: scale(1);
   }
}

@keyframes fadeLinkedin {
   0% {
      transform: scale(1);
      background-color: #007bb5;
   }

   25% {
      transform: scale(.97);
      background-color: #007bb5;
   }

   35% {
      transform: scale(.9);
      background-color: #007bb5;
   }

   45% {
      transform: scale(1.1);
      background-color: #007bb5;
   }

   55% {
      transform: scale(.9);
      background-color: #007bb5;
   }

   65% {
      transform: scale(1.1);
   }

   75% {
      transform: scale(1.03);
   }

   100% {
      transform: scale(1);
   }
}

@keyframes fadeYoutube {
   0% {
      transform: scale(1);
      background-color: #bb0000;
   }

   25% {
      transform: scale(.97);
      background-color: #bb0000;
   }

   35% {
      transform: scale(.9);
      background-color: #bb0000;
   }

   45% {
      transform: scale(1.1);
      background-color: #bb0000;
   }

   55% {
      transform: scale(.9);
      background-color: #bb0000;
   }

   65% {
      transform: scale(1.1);
   }

   75% {
      transform: scale(1.03);
   }

   100% {
      transform: scale(1);
   }
}