.icon-bar {
    position: fixed;
    top: 50%;
    width: 5%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

.icon-bar a {
    display: block;
    text-align: center;
    padding: 16px;
    transition: all 0.3s ease;
    color: white;
    font-size: 28px;
}

.facebook {
    background: #000;
    animation-name: fromLeftToRight;
    animation-fill-mode: forwards;
    animation-duration: 2s;
    animation-delay: 4s;
    opacity: 0;
}

.github {
    background: #000;
    animation-name: fromLeftToRight;
    animation-fill-mode: forwards;
    animation-duration: 2.2s;
    animation-delay: 4s;
    opacity: 0;

}

.linkedin {
    background: #000;
    animation-name: fromLeftToRight;
    animation-fill-mode: forwards;
    animation-duration: 2.4s;
    animation-delay: 4s;
    opacity: 0;

}

.youtube {
    background: #000;
    animation-name: fromLeftToRight;
    animation-fill-mode: forwards;
    animation-duration: 2.6s;
    animation-delay: 4s;
    opacity: 0;

}

.facebook:hover {
    background: #3B5998;
}

.github:hover {
    background: #6e5494;
}

.linkedin:hover {
    background: #007bb5;
}

.youtube:hover {
    background: #bb0000;
}