.icon-bar {
    position: fixed;
    top: 50%;
    width: 5%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

.icon-bar a {
    display: block;
    text-align: center;
    padding: 16px;
    transition: all 0.3s ease;
    color: white;
    font-size: 28px;
}

.facebook {
    background: #000;
    animation-name: fromLeftToRight;
    animation-fill-mode: forwards;
    animation-duration: 2s;
    animation-delay: 2.2s;
    opacity: 0;
}

.github {
    background: #000;
    animation-name: fromLeftToRight;
    animation-fill-mode: forwards;
    animation-duration: 2s;
    animation-delay: 2.4s;
    opacity: 0;

}

.linkedin {
    background: #000;
    animation-name: fromLeftToRight;
    animation-fill-mode: forwards;
    animation-duration: 2s;
    animation-delay: 2.6s;
    opacity: 0;

}

.youtube {
    background: #000;
    animation-name: fromLeftToRight;
    animation-fill-mode: forwards;
    animation-duration: 2s;
    animation-delay: 2.8s;
    opacity: 0;

}

.facebook:hover {
    background: #3B5998;
}

.github:hover {
    background: #6e5494;
}

.linkedin:hover {
    background: #007bb5;
}

.youtube:hover {
    background: #bb0000;
}

@media only screen and (max-width: 925px) {
    .icon-bar {
        position: fixed;
        top: 15%;
        width: 10%;
    }

    @media only screen and (max-width: 455px) {
        .icon-bar {
            position: fixed;
            top: 81%;
            width: 14%;
            display: none;
        }
    }
}