body {
    margin: 0;
    padding: 0;
    font-family: FredokaOne;
}

@font-face {
    font-family: 'FredokaOne';
    src: local('FredokaOne'), url(./utils/fonts/FredokaOne-Regular.ttf) format('truetype');
}

@font-face {
    font-family: 'Nunito';
    src: local('Nunito'), url(./utils/fonts/Nunito-Regular.ttf) format('truetype');
}